.Home__Container {
    padding: 20px;
}

.Home__Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.Home__Profile__Message {
    margin-right: 20px;
}

.Home__Profile__ImgSet {
    position: relative;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.Home__Profile__ImgSet:hover {
    transform: scale(1.1);
    filter: brightness(80%);
}

.Home__Profile__ProfilePicture {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.Home__Profile__EditIcon {
    position: absolute;
    top: 60%;
    left: 60%;
    background-color: #FFF;
    width: 24px;
    height: 24px;
}

.Home__Search__Input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Home__ContactList__Container {
    flex: 1;
    overflow-y: auto;
    max-height: 500px;
}

.Home__ContactList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Home__ContactCard {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.Home__ContactCard__Picture {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.Home__ContactCard__Picture img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.Home__ContactCard__EditIcon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
}

.Home__ContactCard__Name {
    font-weight: bold;
    margin-bottom: 5px;
}

.Home__ContactCard__FullName,
.Home__ContactCard__Phone,
.Home__ContactCard__Details {
    margin-bottom: 5px;
}

.Home__ContactCard__Button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    margin: 6px 0px;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.Home__ContactCard__Button:hover {
    background-color: #c82333;
}

.Home__Logout__Button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 40px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.Home__Logout__Button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .Home__ContactCard {
        flex: 1 0 100%;
    }

    .Home__Profile {
        margin-bottom: 10px;
    }

    .Home__Profile__Message {
        font-size: 18px;
    }

    .Home__Profile__ImgSet {
        margin-bottom: 10px;
    }

    .Home__Profile__ProfilePicture {
        width: 60px;
        height: 60px;
    }

    .Home__Profile__EditIcon {
        width: 20px;
        height: 20px;
    }

    .Home__ContactList__Container {
        max-height: 400px;
    }

    .Home__Logout__Button {
        margin-top: 20px;
    }
}