.RegistrationForm__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.RegistrationForm__Form {
    background-color: #F2F2F2;
    width: 80%;
    padding: 20px;
}

.RegistrationForm__Input {
    width: 100%;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.RegistrationForm__Btn {
    width: 100%;
    background-color: #007BFF;
    color: #FFF;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    margin: 20px 0px;
    border-radius: 5px;
}