.NotFound__Container {
    text-align: center;
    margin-top: 50px;
}
  
.NotFound__Title {
    font-size: 36px;
    color: #ff4d4d;
}
  
.NotFound__Message {
    font-size: 18px;
    margin-bottom: 20px;
}
  
.NotFound__Image {
    width: 300px;
    height: auto;
    margin: 0 auto;
}